<div class="card-post"
    th:id="'post-' + ${post.id}"
    th:each="post: ${posts}"
    th:data-post-id="${post.id}"
    th:data-liked="${post.liked}"
    th:with="likedString=${likesHandler.getLikedString(post.id, post.liked, false)}">

    <div class="card-post-top" th:if="${post.userId == currentUser}">
        <div class="card-post-icon-group">
            <i class="fa-solid fa-eye"></i>
            <h5>visible to everyone</h5>
        </div>
        <div class="card-post-icon-group">
            <span class="card-edit-button"><i class="fa-regular fa-pen-to-square"></i></span>
            <span class="card-delete-button"><i class="fa-solid fa-xmark"></i></span>
        </div>
    </div>

    <div class="card-post-body">
        <div class="post-header">
            <h3><a th:href="${'/profile-redirect/' + post.userId}" style="color: black;"><span th:text="${post.userId == currentUser ? 'You' : post.nickname}"></span></a> posted</h3>
            <h6 th:text="${post.timeSince(currentTime)}"></h6>
        </div>
        <div class="post-content-circuits">
            <div class="post-avatar"></div>
            <p class="post-content" th:text="${post.content}"></p>
            <div th:if="${post.userId == currentUser}" class="post-edit hidden">
                <form class="post-edit-form">
                    <input type="text" class="post-edit-input" />
                </form>
                <div class="card-post-icon-group cancel-edit">
                    <i class="fa-solid fa-ban"></i>
                </div>
            </div>
        </div>
        <div class="card-post-icon-group" th:classappend="${likedString == ''} ? 'hidden' : ''">
            <div class="like-icon"></div>
            <h6 class="who-liked-this" th:text="${likedString}"></h6>
        </div>

        <div class="comments-section hidden">
            <th:block th:each="comment: ${post.replies}">
                <div th:replace="comments/comment_template :: commentTemplate (comment=${comment}, postId=${post.id}, parentComment=${null})"></div>
            </th:block>

            <div class="post-new-comment">
                <h3><i class="fa-regular fa-message"></i></h3>
                <form class="form-post-comment" th:action="@{/comments}" th:object="${post}" method="POST">
                    <input type="hidden" th:attr="name='userId'" th:value="${#authentication.principal.attributes['sub']}">
                    <input type="hidden" th:attr="name='parentId'" th:value="${post.id}">
                    <input type="hidden" th:attr="name='friendsOnly'" th:value="${false}">
                    <input type="hidden" th:attr="name='dateTime'" th:value="${null}">
                    <input type="text"
                           class="input-post"
                           th:field="*{content}"
                           th:placeholder="'Write a comment...'"
                    />
                </form>
            </div>
        </div>
    </div>

    <div class="card-post-bottom">
        <div class="card-post-icon-group like-group">
            <i class="fa-regular fa-thumbs-up"></i>
            <h3>Like</h3>
        </div>
        <div class="card-post-icon-group liked-group">
            <i class="fa-solid fa-thumbs-up"></i>
            <h3>Liked</h3>
        </div>
        <div class="card-post-icon-group comment-button">
            <i class="fa-regular fa-comment"></i>
            <h3>
                Comments
                <span th:id="'comment-counter-' + ${post.id}" class="counter-element" th:classappend="${post.commentCount > 0} ? '' : 'hidden'">
                    (<span class="comments-counter" th:text="${post.commentCount}"></span>)
                </span>
            </h3>
        </div>
    </div>
</div>