<div class="feed">
    <div th:each="post: ${posts}">
        <div class="card">
            <div class="card-top">
                <div class="poster-info">
                    <h3>Joseph posted</h3>
                    <p>36 minutes ago</p>
                </div>
                <p class="post-content" th:text="${post.content}"></p>
            </div>
            <div class="card-bottom">
                <form class="post-interaction">
                    <label>
                        <input type="button">
                        <i class="fa-regular fa-thumbs-up"></i>
                        <p>Like</p>
                        </input>
                    </label>
                </form>
                <div class="post-interaction">
                    <a href="#"><i class="fa-regular fa-comment"></i></a>
                    <p>Comment</p>
                </div>
            </div>
        </div>
    </div>
</div>