<div th:fragment="commentTemplate (comment, postId, parentComment)" class="comment-thread">
  <div class="comment-group"
      th:data-post-id="${comment.id}"
      th:data-user-id="${comment.userId}"
      th:data-nickname="${comment.nickname}"
      th:data-parent-id="${parentComment?.id} ?: ${post.id}"
      th:data-ancestor-id="${post.id}"
      th:data-liked="${comment.liked}"
      th:data-thumbs-up="${comment.likesThumbsUp}"
      th:data-laughing="${comment.likesLaughing}"
      th:data-shocked="${comment.likesShocked}">
    <div class="comment-tab hidden">
      <h6 class="card-post-icon-group comment-like-group">
        <i class="fa-regular fa-thumbs-up"></i>
        Like
      </h6>
      <h6 class="card-post-icon-group comment-liked-group">
        <i class="fa-solid fa-thumbs-up"></i>
        Liked
      </h6>
      <h6 class="card-post-icon-group comment-reply-button">
        <i class="fa-regular fa-comment"></i>
        Reply
      </h6>
      <h6 class="card-post-icon-group comment-edit-group" th:if="${comment.userId == currentUser}">
        <i class="fa-regular fa-pen-to-square"></i>
        Edit
      </h6>
      <h6 class="card-post-icon-group comment-delete-group" th:if="${comment.userId == currentUser}">
        <i class="fa-solid fa-xmark"></i>
        Delete
      </h6>
    </div>
    <div class="comment" th:with="likedString=${likesHandler.getLikedString(comment.id, comment.liked, true)}">
      <h6 class="comment-header" th:text="${comment.userId == currentUser ? 'You' : comment.nickname} + ' responded' + ${post.id == comment.parentId ? '' : ' to ' + (parentComment.userId == currentUser && comment.userId == currentUser ? 'yourself' : parentComment.userId == currentUser ? 'you' : parentComment.userId == comment.userId ? 'themself' : parentComment.nickname)} + ' (' + ${comment.timeSince(currentTime)} + '):'"></h6>
      <p class="comment-content" th:text="${comment.content}"></p>

      <div th:if="${comment.userId == currentUser}" class="comment-edit hidden">
        <form class="comment-edit-form">
          <input type="text" class="comment-edit-input" />
        </form>
        <div class="card-post-icon-group comment-edit-cancel">
          <i class="fa-solid fa-ban"></i>
        </div>
      </div>

      <div class="card-post-icon-group like-icon-group mt-16" th:classappend="${likedString == ''} ? 'hidden' : ''">
        <span class="like-icon comment-like-icon thumbs-up" th:classappend="${comment.likesThumbsUp > 0} ? '' : 'hidden'">👍</span>
        <span class="like-icon comment-like-icon laughing" th:classappend="${comment.likesLaughing > 0} ? '' : 'hidden'">😂</span>
        <span class="like-icon comment-like-icon shocked" th:classappend="${comment.likesShocked > 0} ? '' : 'hidden'">😲</span>
        <h6 class="who-liked-this" th:text="${likedString}"></h6>
      </div>
      <div class="reply-to-comment hidden">
        <h3><i class="fa-regular fa-message"></i></h3>
        <form class="form-comment-reply" th:action="@{/comments}" th:object="${post}" method="POST">
          <input type="hidden" th:attr="name='userId'" th:value="${#authentication.principal.attributes['sub']}">
          <input type="hidden" th:attr="name='parentId'" th:value="${comment.id}">
          <input type="hidden" th:attr="name='friendsOnly'" th:value="${false}">
          <input type="hidden" th:attr="name='dateTime'" th:value="${null}">
          <input type="text"
                 class="input-post"
                 th:field="*{content}"
                 th:placeholder="'Reply to this comment...'"
          />
        </form>
      </div>
    </div>
  </div>
  <th:block th:if="${comment.replies.size() > 0}">
    <div th:if="${comment.replies.size() > 0}" th:replace="core/copper_bars :: copperBars"></div>
  </th:block>
  <th:block th:each="reply: ${comment.replies}">
    <div th:replace="~{comments/comment_template :: commentTemplate (comment=${reply}, postId=${post.id}, parentComment=${comment})}"></div>
  </th:block>
</div>