:root {
    --green: #AECE64;
    --green-border: #C3DCC0;
    --dark-green: #376133;
    --light-green: #E8EFD8;
    --green-grey: #394737;
    --copper: #8B7210;
    --dark-copper: #887E58;
    --copper-shadow: #8B721055;
    --eggshell: #F7EFDA;
    --off-white: #F8F7F5;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--eggshell);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h3 {
    font-size: 18px;
    font-weight: normal;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}

h5 {
    color: #A5A5A5;
    font-size: 12px;
    font-weight: normal;
}

h6 {
    font-size: 14px;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    width: 100vw;
}

.card-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(16px, 2vw, 36px);
    width: 100%;
}

.card {
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}

.card-button {
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid black;
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 8px;
    width: 100%;
}

.button {
    font-size: 16px;
    border-radius: 16px;
    border: 1px solid black;
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 16px;
    margin-bottom: 40px;
}

.button:hover {
    background-color: #D9D9D9;
}

.icon-group {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-group > * {
    color: black;
    margin: 0 4px;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-16 > .comment-group > .comment {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.no-margin {
    margin: 0 !important;
}

/* NAVBAR */

.navbar {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #D9D9D9;
    margin: 0px;
    z-index: 5;
}

.spacer-navbar {
    height: 104px;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}

.logo h1 {
    margin: 8px 16px;
}

.hidden {
    display: none !important;
}

/* Menu Button Styling */
.menu-btn {
    margin: 16px;
    font-size: 40px;
    width: 72px;
    height: 72px;
    border: 1px solid black;
    border-radius: 8px;
}

/* Dropdown Menu Styling */
.menu-links {
    list-style: none;
    position: absolute;
    top: 96px; /* Adjust this value based on header height */
    right: 16px;
    background-color: #F5F5F5;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Menu item styling */
.menu-links li {
    padding: 12px 16px;
}

.menu-links li a {
    color: black;
}

.menu-links li a:hover {
    color: #D9D9D9;
}

/* SIDEBAR */

.sidebar {
    height: 100vh;
    width: 280px;
    padding: 32px;
    border-right: 1px solid #D9D9D9;
}

.position-fixed {
    position: fixed;
}

.spacer-sidebar {
    width: 344px;
}

.sub-menu {
    display: flex;
    align-items: center;
}

.sub-menu > *:first-child {
    margin-left: 0px !important;
}

.sub-menu > * {
    color: black;
    margin: 0 8px;
}

/* MAIN WINDOW */

.main-window {
    margin: 32px;
    box-sizing: content-box;
    width: 100%;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.section-header a {
    color: black;
    margin-bottom: 32px;
}

.section-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 296px;
    width: 216px;
    padding: 16px;
}

/* FRIENDS */

.search-bar {
    display: flex;
    align-items: center;
    height: 36px;
    font-size: 16px;
    color: #A5A5A5;
    background-color: #F5F5F5;
    border-radius: 16px;
    margin: 16px 0;
}

.search-bar input {
    border: none;
    background-color: #F5F5F5;
    font-size: 16px;
    margin-left: 4px;
}

.search-bar i {
    margin-left: 8px;
}

.friends-container {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid #D9D9D9;
}

.how-many-friends {
    margin-bottom: 8px;
}

.friend-card {
    display: flex;
    position: relative;
    width: 288px;
    left: -16px;
    align-items: center;
    height: 64px;
    padding: 4px 12px;
    border-radius: 8px;
}

.friend-card:hover {
    background-color: #F5F5F5;
}

.friend-card i {
    font-size: 24px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 50%;
}

.friend-info {
    margin-left: 16px;
}

.card-body {
    flex-grow: 1;
}

.card-info {
    margin-bottom: 16px;
}

.card-avatar {
    margin-bottom: 16px;
    text-align: center;
}

.card-avatar i {
    font-size: 96px;
    padding: 24px 32px;
    border: 1px solid black;
    border-radius: 50%;
}

.card-buttons-vertical {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* POSTS */

.card-post h3 {
    font-size: 16px;
    font-weight: bold;
}

/* TO-DO: remove font-weight: bold; once this is a root h5 definition */
.card-post h5 {
    color: var(--off-white);
    font-size: 12px;
    font-weight: bold;
}

.card-post h6 {
    color: var(--dark-copper);
    font-size: 14px;
    font-weight: normal;
}

.card-post p {
    font-size: 16px;
    color: black;
}

.container-posts {
    width: 100%;
    padding: 32px 20%;
}

.card-post {
    border-radius: 8px;
    box-shadow: 0px 4px 8px var(--copper-shadow);
    margin-bottom: 16px;
    background-color: var(--off-white);
}

.card-post-top {
    background-color: var(--green);
    color: var(--off-white);
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 8px 0 0;
    padding: 0 8px;
}

.card-post-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.card-post-bottom {
    background-color: var(--green);
    color: var(--off-white);
    height: 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0 0 8px 8px;
}

.card-post-icon-group {
    display: flex;
    gap: 8px;
    cursor: pointer;
    align-items: center;
}

.card-post-icon-group .fa-pen-to-square {
    font-size: 14px;
}

/* TO-DO: change this to .post-content */
.post-content-circuits {
    display: flex;
    align-items: center;
    gap: 16px;
}

.post-edit {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.post-edit-form {
    flex-grow: 1;
    margin-right: 12px;
}

.post-edit-input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    font-size: 16px;
    border: 1px dashed var(--green-border);
    background-color: var(--light-green);
    border-radius: 8px;
    outline: none;
}

.post-avatar {
    height: 48px;
    width: 48px;
    background-color: #D9D9D9;
    border-radius: 50%;
    flex-shrink: 0;
}

.like-icon {
    height: 24px;
    width: 24px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.cancel-edit {
    font-size: 24px;
    color: var(--copper);
}

/* COMMENTS */

.comment {
    padding: 12px;
    border: 1px solid var(--green-border);
    border-radius: 0 0 8px 8px;
}

.comment-group {
    position: relative;
}

.comment-active {
    background-color: var(--light-green);
    border-top-right-radius: 0;
}

.comment-tab {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: var(--light-green);
    border-top: 1px solid var(--green-border);
    border-left: 1px solid var(--green-border);
    border-right: 1px solid var(--green-border);
    padding: 4px 16px;
    border-radius: 8px 8px 0 0;
    width: fit-content;
    position: absolute;
    top: -25px;
    right: 0;
    z-index: 1;
}

.comment-content {
    margin-top: 4px;
}

.reply-to-comment {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 12px 0;
    border-radius: 8px;
}

.post-new-comment {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.post-new-comment i {
    margin: 0 16px 0 8px;
    font-size: 20px;
}

.form-post-comment, .form-comment-reply {
    flex-grow: 1;
}

.form-post-comment input {
    width: 100%;
    background-color: var(--light-green);
    box-sizing: border-box;
    margin: 0;
    outline: none;
}

.form-comment-reply input {
    width: 100%;
    background-color: var(--off-white);
    box-sizing: border-box;
    margin: 0;
    border: 1px dashed var(--green-border);
    outline: none;
}

.in-thread > .comment-group >  .comment {

}

.comment-thread:has(+ .in-thread) > .comment-group > .comment {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

.copper-bars {
    position: relative;
    color: var(--copper);
    height: 12px;
    width: 100%;
}

.copper-bars > div {
    position: absolute;
    height: 12px;
    border-left: 2px dotted var(--copper);
}

.copper-bars-left {
    left: 24px;
}

.copper-bars-center {
    left: 50%;
}

.copper-bars-right {
    right: 24px;
}

.poster-info {
    margin-bottom: 8px;
}

.card-top {
    padding: 12px 16px;
}

.card-bottom {
    border-top: 1px solid #D9D9D9;
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form-post {
    width: 100%;
    padding: 12px 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-post {
    height: 40px;
    flex-grow: 1;
    margin: 0 8px;
    border-radius: 16px;
    border: none;
    background-color: #F5F5F5;
    padding: 0 16px;
    font-size: 16px;
    outline: none;
}

.submit-post {
    height: 40px;
    padding: 0 16px;
    border: 1px solid black;
    background-color: white;
    border-radius: 16px;
    font-size: 20px;
}

.post-mgmt-icons > * {
    cursor: pointer;
    font-size: 20px;
    color: #A5A5A5;
    margin-left: 4px;
}

.post-mgmt-icons i:hover {
    cursor: pointer;
    color: #5B5B5B;
}

.post-mgmt-icons .fa-pen-to-square {
    font-size: 16px;
    transform: translateY(-2px);
}

/* COMMENTS */

.comment-header-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.comment-body {
    margin-left: 16px;
}

.comment-mgmt-icons {
    color: #A5A5A5;
    transform: translateY(14px);
}

.comment-mgmt-icons i {
    margin-left: 4px;
}

.comment-mgmt-icons i:hover {
    color: #5B5B5B;
}

.comment-box {
    margin-top: 12px;
}
